body{
  font-family: system-ui;
}

.colorpaletteitem-component{
  position: relative;
  float: left;
  padding-bottom: 10%;
  min-width: 50px;
  width: 10%;
  border-radius: 0;
  color: #fff;
  transition: border-radius 0.5s ease 0s,
  transform 0.25s ease 0s;
  -ms-transform: scale(1);
  transform: scale(1);
}

.panel-heading{
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.colorpaletteitem-component:hover{
  z-index: 2;
  border-radius: 50%;
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}